.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 100%;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  margin: auto;
  height: 60%;
}

.fighter-preview___name {
  color: #704711;
  background-color: #ffdfa7;
  border: 3px solid #ca9650;
  text-transform: uppercase;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 5%;
}

.fighter-preview___info {
  color: #704711;
  background-color: #ffdfa7;
  border: 3px solid #ca9650;
  text-transform: uppercase;
  border-radius: 5px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 5%;
}

.fighter-preview___info p {
  margin: 0;
}
